@font-face {
    font-family: ProximaNova-Black;
    src: url("../fonts/ProximaNova-Black.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-BoldIt;
    src: url("../fonts/ProximaNova-BoldIt.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Extrabold;
    src: url("../fonts/ProximaNova-Extrabold.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Light;
    src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-LightItalic;
    src: url("../fonts/ProximaNova-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-RegularItalic;
    src: url("../fonts/ProximaNova-RegularItalic.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-SemiboldItalic;
    src: url("../fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
}

/* GENERAL */
.grp-body {
	font-family: 'ProximaNova-Regular';
	font-size: 14px;
	color: #fff;
}
.grp-body h1 {
	font-size: 60px;
	margin: 0;
}
.grp-body h2 {
	font-size: 40px;
	margin: 0;
}
.grp-body p {
	font-size: 20px;
	margin: 0;
}
.grp-bigger-paragraph {
	font-size: 24px;
}
.grp-smaller-paragraph {
	font-size: 18px !important;
}
.grp-smallest-paragraph {
	font-size: 10px !important;
}
.grp-font-25 {
	font-size: 25px;
}
.grp-font-13 {
	font-size: 13px !important;
}
.grp-darkgreen-color {
	color: #12312D;
}
.gpr-darkblue-color {
	color: #0A0830;
}
.grp-grey-color {
	color: #717171;
}
.grp-lightgrey-color {
	color: #5E5E5E;
}

/* SPACING */
.grp-header-spacing-30 {
	margin-bottom: 30px !important;
}
.grp-header-spacing-45 {
	margin-bottom: 45px !important;
}
.grp-paragraph-spacing-45 {
	margin-bottom: 45px !important;
}
.grp-paragraph-spacing-60 {
	margin-bottom: 60px !important;
}
.grp-section-top-spacing-180 {
	padding-top: 180px;
}
.grp-section-spacing-180 {
	padding-bottom: 180px;
}
.grp-section-top-spacing-280 {
	padding-top: 280px;
}
.grp-section-spacing-280 {
	padding-bottom: 280px;
}
.grp-footer-spacing-50 {
	padding-bottom: 50px;
}
.grp-footer-top-spacing-50 {
	padding-top: 50px;
}

/* BUTTONS & LINKS */
.grp-body .btn {
	font-size: 14px;
	color: #2a2a2a;
	background-color: #FCCE12;
	border: none;
	padding-right: 20px;
	padding-left: 20px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.grp-body .btn:hover {
	background-color: #e7b900;
}
.grp-body .btn:active,
.grp-body .btn:focus {
	color: #fff;
	background-color: #4a4a4a;
}
.grp-body a:focus,
.grp-body li:focus,
.grp-body a:active,
.grp-body .btn:focus,
.grp-body .btn:active {
	outline: none;
	text-decoration: none;
}

.grp-body a:hover {
	text-decoration: none;
}

/* LOGO & NAVIGATION */
.grp-header .navbar {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 0;
  transition: padding .2s ease-in-out;
  -moz-transition: padding .2s ease-in-out;
  -webkit-transition: padding .2s ease-in-out;
}
.grp-header .navbar-default {
  background-color: rgba(0, 0, 0, 0.43);
}
.grp-header .navbar-fixed-top {
  border-width: 0;
}
.grp-header .navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.grp-header .navbar-default .navbar-nav>li>a:before,
.grp-header .navbar-default .navbar-nav>li>a:after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 50%;
  width: 0;
  height: 0;
  border-bottom: 1px solid #fcce12;
  transition: width .2s ease-in-out;
  -moz-transition: width .2s ease-in-out;
  -webkit-transition: width .2s ease-in-out;
}
.grp-header .navbar-default .navbar-nav>li>a:after {
  right: auto;
  left: 50%;
}
.grp-header .navbar-default .navbar-nav>li.active>a:before,
.grp-header .navbar-default .navbar-nav>li>a:hover:before,
.grp-header .navbar-default .navbar-nav>li.active>a:after,
.grp-header .navbar-default .navbar-nav>li>a:hover:after {
  width: 50%;
}
.grp-header .navbar-default .navbar-nav>li.active>a,
.grp-header .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent;
}
.grp-header .navbar>.container .navbar-brand {
  padding: 0;
  margin-left: 0;
  display: inline-block;
  width: 200px;
  height: 50px;
  background-image: url(../img/grp_logo.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.grp-header .navbar.grp-navbar-white>.container .navbar-brand {
  background-position: -200px 0;
}
.grp-header .navbar>.container .navbar-right {
  margin-right: 0;
}
.grp-header .navbar.grp-navbar-white {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(113,113,113,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(113,113,113,1);
  box-shadow: 0px 1px 5px 0px rgba(113,113,113,1);
}
.grp-header .navbar-default.grp-navbar-white .navbar-nav>li>a,
.grp-header .navbar.grp-navbar-white .navbar-nav>li .btn {
  color: #717171;
}
.grp-header .navbar .navbar-nav>li .btn {
  margin-top: 6px;
}

/* SECTIONS */
.grp-parallax {
  background-image: url(../img/section1.1-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: -200px;
  width: 900px;
  height: 100%;
  top: 0;
  background-size: 100%;
}
.grp-first-section,
.grp-first-about-section {
	background-color: #000;
  position: relative;
  overflow: hidden;
}
.grp-third-section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.43);
	top: 0;
	left: 0;
}
.grp-third-section {
	background-image: url(../img/section1.3-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.grp-first-about-section .grp-parallax {
	background-image: url(../img/section2.1-bg.jpg);
  background-size: auto 100%;
  right: 0;
}
.grp-second-about-section .grp-list-square li::before {
	content: '';
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}
.grp-second-about-section li.grp-yellow-square::before {
	background-color: #FCCE12;
}
.grp-second-about-section li.grp-orange-square::before {
	background-color: #FF9900;
}
.grp-second-about-section li.grp-grey-square::before {
	background-color: #9B9B9B;
}
.grp-second-about-section li.grp-black-square::before {
	background-color: #000;
}
.grp-second-about-section .grp-list-col {
	padding-top: 15px;
}
.grp-second-about-section .grp-about-list h3 {
	margin-left: 35px;
}
.grp-third-about-section .thumbnail {
	padding: 0;
	border-color: #FF9900;
}
.grp-third-about-section h3 {
	margin-top: 25px;
	margin-bottom: 15px;
}
.grp-third-about-section p {
	margin-bottom: 30px;
}
.grp-first-footer-section {
	text-align: center;
}

/* FOOTER */
.grp-market-form .form-inline .form-group:not(:last-child) {
	margin-right: 15px;
}
.grp-market-form .form-control {
	padding: 18px;
	color: #5E5E5E;
	border-color: #FCCE12;
}
.grp-market-form .form-control::placeholder {
	color: #5E5E5E;
}
.grp-footer-list {
	background-color: #000;
}
.grp-footer-list .list-inline {
	margin-top: 50px;
	margin-bottom: 50px;
}
.grp-footer-list .list-inline>li:not(:last-child) {
	padding-right: 50px;
}
.grp-footer-list li>a {
	color: #fff;
	font-size: 18px;
}

/* RESPONSIVE */
/* Large desktops and laptops */
@media (min-width: 1200px) {
	/* GENERAL */
	.grp-body .container {
		width: 1300px;
	}
	.grp-body .container-medium {
		width: 1100px;
	}
	.grp-body .container-small {
		width: 860px;
	}
	/* LOGO & NAVIGATION */
	.grp-header .navbar-right li:not(:last-child) {
		padding-right: 60px;
    padding-left: 10px;
	}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/* LOGO & NAVIGATION */
  .grp-header .navbar-right li:not(:last-child) {
    padding-right: 25px;
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
	/* FOOTER FORM */
	.form-inline .form-control {
    	min-width: 250px;
	}
	/* SECTIONS */
	.grp-second-about-section .grp-list-col {
		padding-left: 35px;
	}
}
/* Portrait tablets and small desktops */
@media (max-width: 992px) {
	/* FOOTER */
	.grp-footer-list li {
		padding-bottom: 15px;
	}
	.grp-footer-list .list-inline {
		margin-bottom: 35px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	/* LOGO & NAVIGATION */
	.grp-header .navbar-nav>li>a {
    	padding-right: 5px;
    	padding-left: 5px;
	}
	.grp-body .grp-header .btn {
	    padding-right: 5px;
	    padding-left: 5px;
	}
	.grp-header .navbar-brand {
		padding-left: 5px;
	}
	/* FOOTER FORM */
	.grp-market-form .btn {
		margin-top: 15px;
	}
  .grp-header .navbar-default .navbar-nav>li {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 768px) {
	/* SECTIONS */
	.grp-second-about-section .grp-list-col {
		border-left: 1px solid #FF9900;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/* LOGO & NAVIGATION */
	.grp-header .navbar-brand {
    	padding: 0 15px;
    }
    .grp-header .navbar-default .navbar-toggle {
    	border-color: #FCCE12;
	}
	.grp-header .navbar-default .navbar-toggle .icon-bar {
    	background-color: #FCCE12;
	}
	.grp-header .navbar-toggle:hover,
	.grp-header .navbar-toggle:focus {
		background-color: transparent;
	}
	/* SPACING */
	.grp-section-top-spacing-180 {
		padding-top: 120px;
	}
	.grp-section-spacing-180 {
		padding-bottom: 120px;
	}
	.grp-section-spacing-280 {
		padding-bottom: 180px;
	}
	/* FOOTER */
	.grp-footer-list li:not(:last-child) {
		padding-right: 25px !important;
	}
	/* SECTIONS */
	.grp-first-section {
		background-image: none;
	}
  .grp-first-about-section .grp-parallax,
  .grp-parallax {
    background-image: none;
  }
  .grp-header .navbar-default .navbar-collapse,
  .grp-header .navbar-default .navbar-form {
    border: 0;
    box-shadow: none;
    background-color: #000;
  }
  .grp-header .navbar-default.grp-navbar-white .navbar-collapse,
  .grp-header .navbar-default.grp-navbar-white .navbar-form {
    background-color: #fff;
  }
  .grp-header .navbar-default .navbar-nav>li {
    width: 100%;
    float: left;
  }
  .grp-header .navbar-default .navbar-nav>li>a {
    float: left;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
}
